* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #252525;
    color: #FAFDFF;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    flex-direction: column;
}

.container { /* CONTENUTO */
    border-radius: 20px;
    width: 30rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.card {     /* RIQUADRO */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 50px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: #252525;
    border-radius: 12px;
    border: 3px solid #FAFDFF;
    text-align: center;
}

#clock {   /* STILE OROLOGIO */
    font-size: 60px;
    font-weight: bold;
}
    


#hours, #minutes, #seconds {
  display: inline-block;
  padding: 5px;
  letter-spacing: 7px;
}



.footer {
position: absolute;
text-align: center;
display: flex;
justify-content: center;
padding: 1em;
margin-top: 900px;
}




 
